@import "tailwindcss";


/* globals.css */
@keyframes scroll {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

.ascii-scroll {
  display: inline-block;
  animation: scroll 10s linear infinite;
}
